<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Rule to exclude sitemap.xml from rewriting -->
                <rule name="Exclude sitemap.xml" stopProcessing="true">
                    <match url="^sitemap\.xml$" />
                    <action type="None" />
                </rule>

                <!-- Rule to rewrite /page-name to /index.php?page=page-name -->
                <rule name="Rewrite URL to Query String" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_-]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?page={R:1}" appendQueryString="true" />
                </rule>

                <!-- Optional: Hide .php extensions for cleaner URLs -->
                <rule name="Hide .php extensions" stopProcessing="true">
                    <match url="^([a-zA-Z0-9_-]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
