<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jhandi Sherpa Homestay | Homestay in Jhandi, Kalimpong</title>
    <meta name="description" content="Jhandi Sherpa Homestay in Jhandi, Kalimpong offers a serene stay in Jhandi, West Bengal. Perfect for nature lovers. Book your room today!">
    <meta name="keywords" content="Jhandi Sherpa Homestay, Homestay in Jhandi, Kalimpong homestay, Jhandi Lava accommodation, Homestay in West Bengal, Serene stay in Kalimpong, Jhandi rooms, Jhandi travel, Nature stay in Kalimpong">

    <meta property="og:title" content="Jhandi Sherpa Homestay - Serene Stay in Kalimpong">
    <meta property="og:description" content="Experience peace and nature at Jhandi Sherpa Homestay in Jhandi, Kalimpong, West Bengal.">
    <meta property="og:image" content="https://jhandisherpahomestay.com/assets/images/resource/home/jhandi-sherpa-homestay.webp">
    <meta property="og:url" content="https://jhandisherpahomestay.com/">
    
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Favicon -->
    <link type="image/x-icon" href="assets/images/favicon.png" rel="shortcut icon">
    <link type="image/x-icon" href="assets/images/favicon.png" rel="icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Responsive File -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Color File -->
    <link rel="stylesheet" href="assets/css/color.css">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&amp;family=DM+Sans:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" >
    <link rel="stylesheet" href="assets/css/datepicker.css" >


    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>


<body>
    <!-- page-wrapper starts -->
    <div class="page-wrapper">